@if (!authService.isAuthenticated) {
<app-login></app-login>
}

@if (authService.isAuthenticated()) {


<div class="layout">
  <div class="main">
    <!-- CONTENT -->
    <div class="content">
      <!-- FILTER -->
      <div class="mb-3">
        <button class="btn btn-outline-primary me-2" (click)="applyQuickFilter('all')">All</button>

        <button class="btn btn-outline-success me-2" (click)="applyQuickFilter('available')">Available</button>

        <button class="btn btn-outline-warning" (click)="applyQuickFilter('fast')">Fast</button>
      </div>

      <!-- SUMMARY -->
      <div class="mb-3">
        <span class="badge bg-primary me-2">
          Total: {{ filteredChargers.length }}
        </span>

        <span class="badge bg-success">
          Available: {{ filteredChargers.filter(c => c.available).length }}
        </span>
      </div>

      <!-- CARDS -->
      <div class="row">
        @for (charger of filteredChargers; track charger.id) {
        <div class="col-md-4 mb-3">
          <app-card [charger]="charger"></app-card>
        </div>
        }
      </div>
    </div>
  </div>

</div>

}